.header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 100px;
  }
  
  .chart-container {
    width: 80%;
    margin: 0 auto;
  }

  canvas{
    width: 90%;
    height: 50px;
  }
  